<div class="col-md-12">
  <div class="movie">
    <% if current_user && current_user == @movie.user %>
      <%= link_to("Edit", edit_movie_path(@movie), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @movie.name %></h2>
  <p><%= @movie.date %> | <%= @movie.film_time %> | <%= @movie.film_type %></p>
  <h3>Director : </h3><p><%= @movie.director %></p>
  <h3>Actor : </h3><p><%= render_movie_actor(@movie) %></p>
  <hr />
  <p>Imdb : <a href="<%= @movie.imdb %>" target="_blank"><%= @movie.imdb %></a></p>
  <p>Duoban : <a href="<%= @movie.douban %>" target="_blank"><%= @movie.douban %></a></p>
</div>
